.main {
  max-width: 900px;
  margin: 0 auto;
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 25px;
  height: 25px;
  margin-bottom: -3px;
  border-radius: 100%;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}
